{% extends 'base.html' %}

{% block content %}

<main>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-two-fifths px-6 is-flex is-flex-direction-column is-justify-content-center">
          <h1 class="title">Title</h1>
          <h2 class="subtitle">Subtitle</h2>
          <p class="block">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat velit sequi hic inventore
            suscipit obcaecati! Repellat quidem totam corporis adipisci atque amet vero quia! Neque hic temporibus
            explicabo. Vel, minima.</p>
        </div>

        <div class="column px-6">
          <figure class="image is-1by1">
            <img src="https://bulma.io/assets/images/placeholders/256x256.png" alt="portfolio's owner">
          </figure>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}